@import url("https://fonts.googleapis.com/css2?family=Inter&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
:root {
  --font-size: 1.1rem;
  --width: 85%;
}
body {
  background-size: contain;
  background-repeat: no-repeat;
}
header {
  position: fixed;
  background-color: white;
  width: 100%;
}
.above-nav {
  display: flex;
  justify-content: space-between;
  height: 30px;
  position: relative;
  border: 1px solid black;
  border-top: none;
}
.inner {
  display: flex;
}
.pattern {
  background-image: url("./Assets/pattern.png");
  height: 100%;
  width: 88%;
  position: absolute;
  right: 34px;
}
.nav {
  border: 1px solid black;
  border-top: none;
  padding: 0.8rem 1rem;
}
.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-item {
  font-size: 0.6rem;
}
main {
  padding: 11.2rem 0 0;
  background-image: url("./Assets/bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  background-position-y: -130px;
  min-height: 100vh;
}
.heading {
  font-size: 6rem;
  font-weight: 500;
}
.para {
  font-family: Inter, sans-serif !important;
  font-size: 14px;
  width: 90%;
  text-align: center;
  line-height: 22px;
}
.main-container {
  width: var(--width);
  border: 1px solid black;
  margin-top: 3rem;
}
.main-container-header {
  display: flex;
  position: relative;
  justify-content: center;
  background-color: black;
  align-items: center;
  color: white;
  min-height: 30px;
}
.menu-2 {
  position: absolute;
  left: 0;
}
.main-container-heading {
  font-size: 20px;
  font-weight: 500;
}
.main-container-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 2rem 1.5rem;
  min-height: 750px;
}
.content-heading {
  color: #333;
  font-size: var(--font-size);
  font-weight: 500;
  width: 634px;
}
.content-sub-heading {
  color: #333;
  font-size: var(--font-size);
  font-weight: 500;
}
.nft-heading {
  color: #333;
  width: 20rem;
  font-size: var(--font-size);
  font-weight: 500;
}
.nfts {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  flex-wrap: wrap;
}
.content-para {
  align-self: center;
  width: 99%;
}
.footer {
  display: flex;
  justify-content: space-between;
  width: var(--width);
  margin: calc(4.5rem - 1.5rem) 0 4.5rem;
}
.join {
  border: 1px solid black;
  width: 40%;
}
.join-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: black;
  color: white;
}
.footer-heading,
.footer-content-heading {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.menu-3 {
  position: absolute;
  left: 0;
}
.join-content {
  padding: 2rem 0;
  font-size: 18px;
  background-color: white;
}
@media screen and (max-width: 1120px) {
  main {
    background-size: 1120px 1515px;
    background-position: center;
  }
}
@media screen and (max-width: 1080px) {
  :root {
    --font-size: 0.9rem;
  }
  .pattern {
    width: 85%;
  }
  .content-heading {
    width: 519px;
  }
}
@media screen and (max-width: 900px) {
  :root {
    --width: 95%;
  }
  .join {
    width: 48%;
  }
}
@media screen and (max-width: 800px) {
  .pattern {
    width: 80%;
  }
  .heading {
    font-size: 4rem;
  }
}
@media screen and (max-width: 680px) {
  :root {
    --font-size: 0.7rem;
  }
  .content-heading {
    width: 461px;
    line-height: 16px;
  }
  .footer-content-heading {
    font-size: 12px;
  }
}
@media screen and (max-width: 540px) {
  :root {
    --font-size: 0.6rem;
  }
  .pattern {
    width: 70%;
  }
  .heading {
    font-size: 2.5rem;
  }
  .para {
    font-size: 13px;
  }
  .content-heading {
    width: 100%;
  }
  .join {
    width: 100%;
  }
  .footer {
    flex-direction: column;
    gap: 1rem;
  }
}
